/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

/*Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Monda', sans-serif;
}

/*Header*/
.header-section {
    height: auto;
    width: 100%;
    padding: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

.navbar {
    background-color: #EEE;
    display: flex;
    height: 60px;
    width: 50%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    width: auto;
    height: auto;
}

.logo {
    height: 50px;
    border-radius: 20px;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item {
    margin-left: 15px;
}

.navbar-link {
    padding: 10px;
    font-size: 1.23rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.navbar-link:hover {
    color: rgba(9, 9, 200, 1);
    font-size: 1.33rem;
    transition: all 500ms;
}

/*Content - Resume*/
.resume-container {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
    width: 100%;
    height: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume-header {
    font-size: 2.5rem;
    color: #eee;
    margin-bottom: 2rem;
}

.personal-info {
    display: flex;
    flex-direction: column;
}

.name {
    color: #eee;
}

.personal-city {
    color: #eee;
    font-style: italic;
}

.personal-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.icon-control{
    color: #eee;
    font-size: 1.4rem;
}

.personal-text {
    font-size: 1.1rem;
    color: #eee;
    display: inline-block;
    margin-left: 2rem;
}

.personal-link {
    color: #eee;
}

.summary-section {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 15px;
}

.summary-header {
    color: #eee;
    padding: 1rem;
}

.summary-text {
    color: #eee;
    margin-bottom: 2rem;
}

.experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.experience-header {
    color: #eee;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.experience-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-group-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: auto;
}

.subheader {
    color: #eee;
}

.experience-text {
    color: #eee;
}

.edu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.edu-header {
    color: #eee;
    margin: 2rem 0;
}

.edu-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edu-group-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    width: auto;
}

.edu-text {
    color: #eee;
}

.cert-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.cert-header {
    color: #eee;
    margin: 2rem 0;
}

.cert-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cert-group-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    width: auto;
}

.cert-text {
    color: #eee;
}

.skills-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.skills-header {
    color: #eee;
    margin: 2rem 0;
}

.skills-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-list-item {
    color: #eee;
}
/*Footer*/
.footer-section {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
    height: auto;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social-media-container {
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-header {
    font-family: 'Merriweather Sans', sans-serif;
    color: #EEE;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.social-media-icons {
    height: auto;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-buttons i {
    font-size: 2.3rem;
    color: #EEEEEE;
}

.social-media-buttons i:hover {
    font-size: 2.5rem;
    margin-top: -0.5rem;
    transition: all 300ms;
}

.email-text {
    color: #EEE;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

address {
    color: #EEE;
    font-size: 0.8rem;
}

.copy-rights {
    color: #EEEEEE;
    font-size: 0.7rem;
    position: absolute;
    top: 220px;
}