/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Splash&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    list-style: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Monda', sans-serif;
}

.header-section {
    height: auto;
    width: 100%;
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

.navbar {
    background-color: #EEE;
    display: flex;
    height: 60px;
    width: 50%;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    width: auto;
    height: auto;
}

.logo {
    height: 50px;
    border-radius: 20px;
}

.navbar-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list-item {
    margin-left: 15px;
}

.navbar-link {
    padding: 10px;
    font-size: 1.3rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.navbar-link:hover {
    color: rgba(9, 9, 200, 1);
    font-size: 1.33rem;
    transition: all 500ms;
}

.header-about-me {
    height: auto;
    width: 100%;
    margin-top: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-header {
    padding: 10px;
    color: #EEE;
}

.header-img {
    border-radius: 30px;
    height: 300px;
    margin-top: 1.2rem;
}

.header-about-me-link {
    font-size: 1.2rem;
    color: #EEE;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-bottom: 1px solid #EEE;
}

.header-about-me-link:hover {
    font-size: 1.3rem;
    transition: all 500ms;
}

.blog-section {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-first-content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-first-content-header {
    font-size: 2rem;
    font-family: 'Merriweather Sans', sans-serif;
    margin-top: 1.3rem;
    margin-bottom: 1.5rem;
}

.my-blog {
    height: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.blog-card {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(9, 9, 200, 1);
    border-radius: 30px;
    padding: 25px;
    margin-top: 2rem;
}

.blog-card-header {
    font-size: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 1.3rem;
}

.blog-content {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-img {
    height: 150px;
    width: 150px;
    border-radius: 30px;
    padding: 5px;
    margin-right: 1.5rem;
}

.blog-text {
    letter-spacing: 1px;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}

.blog-text-link {
    font-size: 1.1rem;
    margin-top: 1.1rem;
}

.blog-text-link:hover {
    color: rgba(9, 9, 200, 1);
    transition: all 500ms;
    font-size: 1.2rem;
}

.content-section {
    width: 100%;
    height: auto;
    margin-top: 2.5rem;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
}

.content-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.content-main-header {
    margin-top: 2rem;
    color: #EEE;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 2rem;
}

.content-header {
    font-size: 1.3rem;
    font-family: 'Merriweather Sans', sans-serif;
    color: #EEEEEE;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

.content-text {
    color: #EEEEEE;
    margin-bottom: 1.4rem;
}

.content-img {
    width: 100%;
    border-radius: 30px;
}

.quote {
    font-size: 0.8rem;
    font-style: italic;
    margin-bottom: 1.4rem;
    color: #EEE;
}

.bold {
    font-weight: bold;
    border-bottom: 1px solid #EEE;
    color: #EEE;
}

.bonus-section {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bonus-container {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bonus-header {
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 1.4rem;
}

.bonus-content-header {
    margin-bottom: 1.4rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.bonus-text {
    display: block;
    width: 100%;
    height: auto;
}

.bonus-list {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.signature {
    display: block;
    margin-top: 1rem;
    cursor: default;
    font-family: 'Splash', cursive;
    font-size: 2.5rem;
}

.footer-section {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 29%, rgba(0, 212, 255, 1) 100%);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.social-media-container {
    width: 25%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-media-header {
    font-family: 'Merriweather Sans', sans-serif;
    color: #EEE;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.social-media-icons {
    height: auto;
    width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-media-buttons i {
    font-size: 2.3rem;
    color: #EEEEEE;
}

.social-media-buttons i:hover {
    font-size: 2.5rem;
    margin-top: -0.5rem;
    transition: all 300ms;
}

.email-text {
    color: #EEE;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

address {
    color: #EEE;
    font-size: 0.8rem;
}

.copy-rights {
    color: #EEEEEE;
    font-size: 0.7rem;
    position: absolute;
    top: 140px;
}